<h1>TractingUnits#index</h1>
<p>Find me in app/views/tracting_units/index.html.erb</p>

<table>
  <thead>
    <tr>
      <td>Unit ID</td>
      <td>Main Image</td>
      <td>Brand Owner</td>
      <td>Brand</td>
      <td>Unit Description</td>
      <td>Region</td>
      <td>DF Location</td>
    </tr>
  </thead>
  <tbody>
    <% @tracking_units.each do |tu| %>
      <tr>
        <td><%= tu.asset_id %></td>
        <td><%= "test" %></td>
        <td><%= tu.brand.try(:brand_owner).try(:name) %></td>
        <td><%= tu.brand.try(:name) %></td>
        <td><%= tu.unit_description %></td>
        <td><%= tu.region %></td>
        <td><%= tu.project.duty_free_location.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tracking_units %>
